<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add Doctor</h1>
    <form action="/doctor" method="post">
      <table>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" name="email" /></td>
        </tr>
        <tr>
          <td>Specialization</td>
          <td><input type="text" name="specialization" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Add Doctor" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
